@charset "UTF-8";
@media print, screen and (min-width: 960px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 960px) {
  ._pc {
    display: block;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ W3", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f3f4f5;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #f3f4f5;
  z-index: 2;
}

.header-nav {
  padding: 10px 40px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-item {
  position: relative;
  top: 10px;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: black;
}

.nav-item + .nav-item {
  margin-left: 30px;
}

.nav-item .nav-main {
  text-transform: capitalize;
  font-size: 18px;
}

.nav-item .nav-sub {
  font-size: 10px;
}

.nav-item .nav-num {
  font-size: 10px;
  padding-top: 15px;
}

.nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100px;
  height: 100px;
}

.nav-item a:hover {
  color: red;
}

.top {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.vegas-content-scrollable {
  width: 100%;
}

.top-title {
  padding-top: 20px;
  padding-bottom: 60px;
  width: 100%;
  background-color: rgba(226, 241, 103, 0.8);
}

@media print, screen and (min-width: 960px) {
  .top-title {
    padding-top: 60px;
  }
}

.top-title .top-message {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

@media print, screen and (min-width: 520px) {
  .top-title .top-message {
    font-size: 34px;
  }
}

.top-title .top-message span {
  display: inline-block;
}

@media print, screen and (min-width: 960px) {
  .top-title .top-message span {
    display: initial;
  }
}

.top-title .catch-copy-wrap {
  margin-top: 60px;
  color: #fff;
}

@media print, screen and (min-width: 960px) {
  .top-title .catch-copy-wrap {
    text-align: left;
    padding-left: 70px;
  }
}

.top-title .catch-copy-wrap p {
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
}

@media print, screen and (min-width: 960px) {
  .top-title .catch-copy-wrap p {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
}

.top-title .catch-copy-wrap p span {
  display: inline-block;
}

@media print, screen and (min-width: 520px) {
  .top-title .catch-copy-wrap p span {
    display: initial;
  }
}

.top-title .catch-copy {
  width: 90%;
  margin: auto;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}

@media print, screen and (min-width: 520px) {
  .top-title .catch-copy {
    font-size: 50px;
  }
}

@media print, screen and (min-width: 960px) {
  .top-title .catch-copy {
    margin: initial;
  }
}

.top-title .catch-copy span {
  display: block;
}

@media print, screen and (min-width: 960px) {
  .top-title .catch-copy span {
    display: inline-block;
  }
}

.top-title .contact-block {
  margin-top: 30px;
}

.top-title .contact-block a {
  background-color: #43cbe0;
  color: #fff;
  cursor: pointer;
  border-radius: 1.55em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.cmn-section {
  padding-top: 80px;
}

@media print, screen and (min-width: 960px) {
  .cmn-section {
    padding-top: 100px;
  }
}

.cmn-title {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.cmn-title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #ff9800;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.service-cont {
  padding: 40px 10px 0 10px;
}

.service-list {
  width: 90%;
  margin: auto;
}

@media print, screen and (min-width: 960px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: initial;
  }
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
}

@media print, screen and (min-width: 520px) {
  .service-item {
    width: 80%;
  }
}

@media print, screen and (min-width: 960px) {
  .service-item {
    width: initial;
    margin: initial;
  }
}

.service-item + .service-item {
  margin-top: 50px;
}

@media print, screen and (min-width: 960px) {
  .service-item + .service-item {
    margin-left: 20px;
    margin-top: 0;
  }
}

.service-item .text {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 10px 0;
  text-align: center;
}

@media print, screen and (min-width: 520px) {
  .service-item .text {
    padding: 10px;
  }
}

@media print, screen and (min-width: 960px) {
  .service-item .text {
    padding: 18px;
  }
}

.service-item .text span {
  display: inline-block;
}

@media print, screen and (min-width: 960px) {
  .service-item .text span {
    display: initial;
  }
}

.service-item .text .title {
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: 700;
}

@media print, screen and (min-width: 960px) {
  .service-item .text .title {
    padding-bottom: 30px;
  }
}

.service-item .text .desc {
  font-size: 13px;
}

@media print, screen and (min-width: 520px) {
  .service-item .text .desc {
    font-size: 16px;
  }
}

.work-cont {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

.work-list {
  text-align: center;
}

@media print, screen and (min-width: 960px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work-item {
  width: 80%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-box-shadow: 0 0px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 35px rgba(0, 0, 0, 0.1);
}

@media print, screen and (min-width: 960px) {
  .work-item {
    width: initial;
    margin: initial;
  }
}

.work-item + .work-item {
  margin-top: 20px;
}

@media print, screen and (min-width: 960px) {
  .work-item + .work-item {
    margin-left: 10px;
    margin-top: 0;
  }
}

.work-item .work_item-wrap {
  width: 100%;
  position: relative;
}

.work-item .work_item-wrap .image {
  height: 100%;
}

.work-item .work_item-wrap .image img {
  height: 100%;
}

.work-item .work_item-wrap .text-desc {
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #eae8e8d9;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.work-item .work_item-wrap .text-desc:hover {
  opacity: 0.8;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-item .work_item-wrap .text-desc p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.About.cmn-section {
  padding-top: 20px;
}

.about-cont {
  width: 90%;
  margin: 40px auto 0 auto;
  background-image: url("../../image/about-7.jpg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.about-list {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
}

@media print, screen and (min-width: 520px) {
  .about-list {
    padding: 20px 10px;
  }
}

@media print, screen and (min-width: 960px) {
  .about-list {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-item {
  margin: auto;
}

.about-item:first-child {
  width: 60%;
}

@media print, screen and (min-width: 960px) {
  .about-item:first-child {
    width: 40%;
  }
}

@media print, screen and (min-width: 960px) {
  .about-item:nth-child(2) {
    width: 60%;
  }
}

.about-item .text {
  font-size: 13px;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}

@media print, screen and (min-width: 520px) {
  .about-item .text {
    font-size: 16px;
  }
}

.about-item .text span {
  color: #ff6b00;
}

.about-item .image {
  padding: 30px;
}

.about-item .image img {
  height: 80%;
  background-color: #fff;
  border-radius: 50%;
}

.price-wrap {
  background: linear-gradient(25deg, #f13f79, #ffc778);
  width: 90%;
  margin: 40px auto 0;
}

.price-cont {
  padding: 40px 28px 28px 28px;
}

.price-list {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

@media print, screen and (min-width: 960px) {
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.price-item {
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  padding: 0 0 28px 0;
}

@media print, screen and (min-width: 520px) {
  .price-item {
    padding: 0 15px 28px 15px;
  }
}

@media print, screen and (min-width: 960px) {
  .price-item {
    width: 40%;
    padding: 0 0 0 20px;
  }
}

@media print, screen and (min-width: 960px) {
  .price-item:nth-child(2) {
    width: 60%;
    padding: 20px;
  }
}

.price-item p {
  font-size: 11px;
  color: red;
  padding-top: 15px;
  font-weight: 700;
}

@media print, screen and (min-width: 960px) {
  .price-item p {
    text-align: left;
  }
}

.price-table-item-image {
  padding-top: 20px;
}

@media print, screen and (min-width: 960px) {
  .price-table-item-image {
    padding-top: initial;
  }
}

.price-table-item-image img {
  border-radius: 10px;
}

.price-table-item-title {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  margin: auto;
}

@media print, screen and (min-width: 520px) {
  .price-table-item-title {
    font-size: 26px;
    width: 80%;
  }
}

@media print, screen and (min-width: 960px) {
  .price-table-item-title {
    width: initial;
    font-size: 20px;
    margin: initial;
  }
}

.price-table-item-price {
  line-height: 1.5;
  font-size: 18px;
}

@media print, screen and (min-width: 520px) {
  .price-table-item-price {
    font-size: 28px;
  }
}

@media print, screen and (min-width: 960px) {
  .price-table-item-price {
    font-size: 20px;
  }
}

@media print, screen and (min-width: 960px) {
  .price-table-item-price span {
    font-size: 18px;
  }
}

.service-contact {
  margin-top: 30px;
}

@media print, screen and (min-width: 960px) {
  .service-contact {
    margin-top: 20px;
  }
}

.service-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  color: #fff;
  max-width: 250px;
  height: 40px;
  background-color: #022bf3;
  margin: 0 auto;
  border-radius: 1.55em;
}

.service-menu {
  border-bottom: 2px solid #eee;
}

@media print, screen and (min-width: 960px) {
  .service-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.service-menu + .service-menu {
  margin-top: 30px;
}

@media print, screen and (min-width: 960px) {
  .service-menu + .service-menu {
    margin-top: 10px;
  }
}

.flow-cont {
  padding-top: 40px;
  width: 90%;
  margin: auto;
}

@media print, screen and (min-width: 960px) {
  .flow-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flow-item {
  border: 4px double #f58a0f;
  margin: 0 auto 32px auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}

@media print, screen and (min-width: 960px) {
  .flow-item {
    width: 25%;
    margin: 2em 0;
    padding: 10px 25px;
    margin: 2em auto;
  }
}

.flow-item .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.flow-item .desc {
  font-size: 14px;
}

.flow-item .desc span {
  display: inline-block;
}

@media print, screen and (min-width: 960px) {
  .flow-item .desc {
    text-align: left;
    font-size: 16px;
  }
}

.far.fa-arrow-alt-circle-right {
  display: none;
  color: #0d28b1;
  font-size: 20px;
  margin: auto 5px;
}

@media print, screen and (min-width: 960px) {
  .far.fa-arrow-alt-circle-right {
    display: initial;
  }
}

.contact-cont {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: #ff9800;
  text-align: center;
  color: #fff;
}

.contact-cont h2 {
  font-size: 36px;
  font-weight: 700;
}

@media print, screen and (min-width: 960px) {
  .contact-cont h2 {
    font-size: 42px;
  }
}

.contact-cont .desc {
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-cont .desc span {
  display: inline-block;
}

@media print, screen and (min-width: 960px) {
  .contact-cont .desc span {
    display: initial;
  }
}

.contact-button {
  padding-top: 60px;
  padding-bottom: 30px;
}

.contact-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  height: 60px;
  background-color: #022bf3;
  border-radius: 1.55em;
  color: #fff;
  margin: 0 auto;
  font-size: 24px;
}

.skill-cont {
  width: 90%;
  margin: 40px auto 0 auto;
  background-image: url("../../image/skill-1.jpg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

@media print, screen and (min-width: 960px) {
  .skill-cont {
    height: 450px;
  }
}

.skill-list {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  font-size: 18px;
  padding: 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media print, screen and (min-width: 520px) {
  .skill-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: initial;
            flex-flow: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media print, screen and (min-width: 960px) {
  .skill-list {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
}

.skill-item {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

@media print, screen and (min-width: 520px) {
  .skill-item {
    width: 45%;
    margin-bottom: 0;
  }
}

@media print, screen and (min-width: 960px) {
  .skill-item {
    width: 25%;
  }
  .skill-item + .skill-item {
    margin-left: 20px;
  }
}

@media print, screen and (min-width: 520px) {
  .skill-item:nth-child(even) {
    margin-left: 20px;
  }
}

.skill-item .level {
  text-transform: capitalize;
}

@media print, screen and (min-width: 520px) {
  .skill-item .level {
    margin-top: 10px;
  }
}

.skill-item .level span {
  color: yellow;
}

.skill-item .image {
  height: 70%;
  padding: 10px 30px;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

@media print, screen and (min-width: 960px) {
  .skill-item .image {
    height: 52%;
    padding: 10px;
  }
}

.skill-item .image:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.skill-item .image img {
  background-color: white;
  height: 100%;
  padding: 10px 30px;
}

@media print, screen and (min-width: 960px) {
  .skill-item .image img {
    padding: 30px;
  }
}
/*# sourceMappingURL=style.css.map */