.flow-cont {
  padding-top: 40px;
  width: 90%;
  margin: auto;
}

.flow-list {
  @include overTab {
    display: flex;
  }
}

.flow-item {
  border: 4px double #f58a0f;
  margin: 0 auto 32px auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
  @include overTab {
    width: 25%;
    margin: 2em 0;
    padding: 10px 25px;
    margin: 2em auto;
  }
  .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .desc {
    font-size: 14px;
    span {
      display: inline-block;
      @include overTab {
        display: initial;
      }
    }
    @include overTab {
      text-align: left;
      font-size: 16px;
    }
  }
}

.far {
  &.fa-arrow-alt-circle-right {
    display: none;
    color: #0d28b1;
    font-size: 20px;
    margin: auto 5px;
    @include overTab {
      display: initial;
    }
  }
}
