.price {
}

.price-wrap {
  background: linear-gradient(25deg, #f13f79, #ffc778);
  margin-top: 40px;
}

.price-cont {
  padding: 40px 28px 28px 28px;
}

.price-list {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.price-item {
  margin: auto;
  text-align: center;
  width: 40%;
  padding: 28px;
  &:nth-child(2) {
    width: 60%;
  }
  p {
    font-size: 12px;
    color: red;
    text-align: left;
    padding-top: 15px;
    font-weight: 700;
  }
}

.price-table-item-image {
  img {
    border-radius: 10px;
  }
}

.price-table-item-title {
  // font-weight: 700;
  font-size: 20px;
}

.price-table-item-price {
  font-size: 20px;
  line-height: 1.5;
  span {
    font-size: 18px;
  }
}

.price-table-item-desc {
  font-size: 0.875rem;
  color: rgb(148, 148, 143);
}

.price-table-item-menu {
  margin-top: 15px;
  li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}

.service-contact {
  margin-top: 20px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: cl(white);
    width: 250px;
    height: 40px;
    background-color: rgb(123, 220, 181);
    margin: 0 auto;
    border-radius: 1.55em;
  }
}

.service-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  + .service-menu {
    margin-top: 20px;
  }
}
