.price-wrap {
  background: linear-gradient(25deg, #f13f79, #ffc778);
  width: 90%;
  margin: 40px auto 0;
  border-radius: 15px;
}

.price-cont {
  padding: 50px 28px 28px 50px;
}

.price-list {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  @include overTab {
    display: flex;
  }
}

.price-item {
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  padding: 0 5px 28px 5px;
  @include overMobile {
    padding: 0 15px 28px 15px;
  }

  @include overTab {
    width: 40%;
    padding: 0 0 0 20px;
  }
  &:nth-child(2) {
    @include overTab {
      width: 60%;
      padding: 20px;
    }
  }
  p {
    font-size: 11px;
    color: red;
    padding-top: 15px;
    font-weight: 700;
    @include overTab {
      text-align: left;
    }
  }
}

.price-table-item-image {
  padding-top: 10px;
  @include overMobile {
    padding-top: 20px;
  }

  @include overTab {
    padding-top: initial;
  }
  img {
    border-radius: 10px;
  }
}

.price-table-item-title {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  margin: auto;
  @include overMobile {
    font-size: 26px;
    width: 80%;
  }

  @include overTab {
    width: initial;
    font-size: 20px;
    margin: initial;
  }
}

.price-table-item-price {
  line-height: 1.5;
  font-size: 18px;
  @include overMobile {
    font-size: 28px;
  }
  @include overTab {
    font-size: 20px;
  }
  span {
    @include overTab {
      font-size: 18px;
    }
  }
}

.service-contact {
  margin-top: 30px;
  @include overTab {
    margin-top: 20px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: cl(white);
    max-width: 250px;
    height: 40px;
    background-color: #022bf3;
    margin: 0 auto;
    border-radius: 1.55em;
  }
}

.service-menu {
  border-bottom: 2px solid #eee;
  @include overTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  + .service-menu {
    margin-top: 30px;
    @include overTab {
      margin-top: 10px;
    }
  }
}
