.skill-cont {
  width: 90%;
  margin: 40px auto 0 auto;
  background-image: url("../../image/skill-1.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  @include overTab {
    height: 450px;
  }
}

.skill-list {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.55);
  color: cl(white);
  font-size: 18px;
  padding: 20px 40px;
  flex-flow: column;
  align-items: center;
  @include overMobile {
    flex-flow: initial;
    align-items: initial;
    flex-wrap: wrap;
  }

  @include overTab {
    flex-wrap: initial;
  }
}

.skill-item {
  width: 80%;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;

  @include overMobile {
    width: 45%;
    margin-bottom: 0;
  }

  @include overTab {
    width: 25%;
    + .skill-item {
      margin-left: 20px;
    }
  }
  &:nth-child(even) {
    @include overMobile {
      margin-left: 20px;
    }
  }

  .level {
    @include overMobile {
      margin-top: 10px;
    }
    text-transform: capitalize;
    span {
      color: yellow;
    }
  }
  .image {
    height: 70%;
    padding: 10px 30px;
    transition: transform 0.7s ease;
    @include overTab {
      height: 52%;
      padding: 10px;
    }
    &:hover {
      transform: translateY(-20px);
    }

    img {
      background-color: white;
      height: 100%;
      padding: 10px 30px;
      @include overTab {
        padding: 30px;
      }
    }
  }
}
