.cmn-section {
  padding-top: 80px;
  @include overTab {
    padding-top: 100px;
  }
}

.cmn-title {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  &::after {
    content: "";
    width: 80px;
    height: 3px;

    background-color: #ff9800;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
  }
}
