.header {
  // position: sticky;
  // top: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #f3f4f5;
  z-index: 2;
  height: 120px;
  @include overTab {
    height: initial;
  }
}

.header-nav {
  @include overTab {
    padding: 10px 40px;
  }
}

.nav-wrap {
  display: flex;
  flex-flow: column-reverse;
  @include overTab {
    display: initial;
    flex-flow: initial;
  }
}

.nav-list {
  display: flex;
  flex-flow: column;
  background-color: #f3f4f5;
  width: 100%;
  padding: 0 60px 20px 60px;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.-active {
    opacity: 1;
    visibility: visible;
    // transition: opacity 0.5s ease;
  }
  @include overTab {
    width: initial;
    justify-content: flex-end;
    flex-flow: row;
    padding: 0;
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.nav-item {
  position: relative;
  @include overTab {
    top: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 1px;
    // background-color: black;
    background-color: #312e2e70;
  }
  + .nav-item {
    @include overTab {
      margin-left: 30px;
    }
  }
  .nav-main {
    text-transform: capitalize;
    font-size: 18px;
  }

  .nav-sub {
    font-size: 10px;
  }

  .nav-num {
    font-size: 10px;
    padding-top: 15px;
  }

  a {
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 100px;
    height: 100px;
    @include overTab {
      margin: initial;
    }
    &:hover {
      color: red;
    }
  }
}

//Toptitle

.top {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;

  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 700px;
  align-items: center;
  color: cl(white);
}

.vegas-content-scrollable {
  width: 100%;
}

.top-title {
  margin-top: 120px;
  padding-top: 20px;
  padding-bottom: 80px;
  width: 100%;
  background-color: rgba(226, 241, 103, 0.8);
  @include overTab {
    padding-top: 60px;
    margin-top: 100px;
  }
  .top-message {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    @include overMobile {
      font-size: 34px;
    }
    span {
      display: inline-block;
      @include overTab {
        display: initial;
      }
    }
  }
  .catch-copy-wrap {
    margin-top: 60px;
    color: #fff;
    @include overTab {
      text-align: left;
      padding-left: 70px;
    }
    p {
      font-size: 14px;
      font-weight: 700;
      color: white;
      text-transform: capitalize;
      padding-left: 15px;
      padding-right: 15px;
      @include overTab {
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
      }
      span {
        display: inline-block;
        @include overMobile {
          display: initial;
        }
      }
    }
  }
  .catch-copy {
    width: 90%;
    margin: auto;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;
    @include overMobile {
      font-size: 50px;
    }
    @include overTab {
      margin: initial;
    }
    span {
      display: block;
      @include overTab {
        display: inline-block;
      }
    }
  }

  .contact-block {
    margin-top: 30px;
    a {
      // background-color: #32373c;
      background-color: #43cbe0;
      color: #fff;
      cursor: pointer;
      border-radius: 1.55em;
      display: flex;
      width: 220px;
      height: 50px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
}

.nav-btn {
  width: 52px;
  height: 35px;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font: initial;
  position: relative;
  right: 40px;
  top: 40px;
  margin-left: auto;

  @include overTab {
    display: none;
  }

  &.-active {
    span {
      top: 0;
      bottom: 0;
      margin: auto;
      transition: transform 1s ease;
      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  span {
    transition: transform 0.3s ease;
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 3px;
    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:last-child {
      bottom: 0;
    }
  }
}
